body {
    background-color: #1f1f1f;
    height: 2000px;
    color: #bfbfbf;
}

h1 {
    font-weight: normal;   
}

em {
    color: #dd740b;   
}

.box {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.blueBox {
    background: #627da0;
    position: absolute;
    top:40px;
    left:60px;
}

.greenBox {
    background: #5b8054;  
}

.container {
    background: rgba(242, 245, 245, 0.4); 
    height: 200px;
    width: 200px;
    margin-top: 150px;
    position: absolute;
}